[submodule "TheBigPicture"]
	path = TheBigPicture
	url = git@github.com:raz-azad/TheBigPicture.git
[submodule "ClassAndInterface"]
	path = ClassAndInterface
	url = git@github.com:raz-azad/ClassAndInterface.git
[submodule "GettingStartedwithJava"]
	path = GettingStartedwithJava
	url = git@github.com:raz-azad/GettingStartedwithJava.git
